html,body{
margin:0;
padding:0;
}

table.tabelica {
border-collapse:collapse;
}

table.tabelica td {
border:1px solid black;
padding:4px;
background:#F9CFD0;
}

table.tabelica th {
border:1px solid black;
padding:4px;
background:#BA2F34;
color:#eeeeee;
}

.check {
list-style-image: url("images/check.png");
list-style-position: inside;
/*font-size: 16px;*/
/*line-height: 26px;*/
}

.uncheck {
list-style-image: url("images/uncheck.png");
list-style-position: inside;
/*font-size: 16px;*/
/*line-height: 26px;*/
}

.rght {
list-style-image: url("images/right.png");
list-style-position: inside;
/*font-size: 16px;*/
/*line-height: 26px;*/
}

.wrong {
list-style-image: url("images/wrong.png");
list-style-position: inside;
/*font-size: 16px;*/
/*line-height: 26px;*/
}

img.slikalijevo { 
    float: left; 
    margin-right: 10px; 
}

.cisti{
	line-height:0; font-size:0; 
	clear:both;
}

#lijevi{
text-align:left;
position:relative;
float:left;
width:345px;
margin-right: 10px;
margin-top: 10px;
z-index: 0;
}

#lijevi p{
line-height:1.4;
}

#desni{
text-align:left;
position:relative;
float:left;
width:345px;
margin-top: 10px;
z-index: 0;
}

#desni p{
line-height:1.4;
}

.artlink a{
font: bold 14px arial,sans-serif;
color: #AA0000;

}

.artlink-manji a{
font: bold 12px arial,sans-serif;
color: #AA0000;

}

.sizeclanka{
background: #FBE1E2;
margin-right: 10px;
margin-bottom: 3px;
padding-top: 10px;
padding-bottom: 10px;
}

.sizeclanka a:hover{
color: #AA0000;
text-decoration: underline;
}

.sizeclanka a{
color: #AA0000;
}

.podcrveno a{
color: #AA0000;
}
.podcrveno a:hover{
color: #AA0000;
text-decoration: underline;
}

.sizeclanka:hover{
background: #F7BFBE;
}

.sizeclanka .tip{
color: #ffffff;
background: #AA0000;
}

#login{
background:url('images/login.png') no-repeat;
height:220px;
width:250px;
line-height:29px;
position: absolute;
right:10px;
top:-190px;
z-index:100;
}

#login-login{
height:25px;
width:250px;
position: absolute;
left:0px;
top:190px;
z-index:101;
text-align:center;
/*font: bold 12px arial,sans-serif;*/
color: #AA0000;
cursor:pointer;

}




body{
background:#ffffff url('images/bg.jpg') no-repeat center top;
font: 76% arial,sans-serif;
text-align:center;
}
h2{
margin: 0px 15px 10px 0px;
background:#F9CFD0;
font: 20px arial,sans-serif;
color: #000000;
text-align:center;
}
h3{
margin: 0px 15px 10px 0px;
/*background:#ff0000 url('images/h3-bg.png')*/;
padding:3px;
font: bold 18px arial,sans-serif;
color: #AA0000;
text-align:left;
border-bottom: 1px solid #000;
}
h4{
margin: 30px 15px 10px 0px;
/*background:#ff0000 url('images/h3-bg.png');*/
padding:3px;
font: bold 15px arial,sans-serif;
color: #AA0000;
text-align:left;
border-bottom: 1px dotted #000;
}

p{
margin:0 10px 10px;
}
a{padding:0px; text-decoration:none; color:#000000;} /* 5px */
div#header{/*background-color:#F3F2ED;*/ height:180px;}
div#menuline{padding:0px 7px 7px 7px;/*background-color:#F00200;*/ height:25px; /* 40 */
/*	background: url('images/meni-bg.jpg') no-repeat center top;*/
z-index:5;
}
div#header h1{height:80px;line-height:80px;margin:0;padding-left:10px;}
div#container{text-align:left; position:relative;}
div#content p{line-height:1.4; text-align:justify;}
div#navigation{background:#FFF;/*background:#5387DB;*/ margin:15px 0 0 0; padding: 0px 0; text-align:center;}
div#navigation img{margin:3px 0;}
div#navigation ul{margin:15px 0; padding:0; list-style-type:none;}
div#navigation li{margin-bottom:5px;}
div#extra{background:#BFE2F6; margin-top:15px; padding-bottom:10px;padding-top:10px;}
div#footer{/*background:#BFBD93;*/}
div#footer p{margin:0;padding:5px 10px}
div#container{width:980px;margin:0 auto}
div#content{/*background-color:#F3F2ED;*/ float:left;width:700px;}
div#navigation{float:right;width:280px}
div#extra{float:right;clear:right;width:280px}
div#footer{clear:both;width:100%;text-align:center;color:#888;}
div#footer a{color:#888;}
div#footer a:hover{color:#AA0000;}


div#content a{
color: #AA0000;
}
div#content a:hover{
color: #AA0000;
text-decoration: underline;
}


a:hover {
	/*background: #900;
	color: #FFF;*/
	}

/* Root = Horizontal, Secondary = Vertical */
ul#navmenu {
	margin: 0;
	border: 0 none;
	padding: 0;
	width: 980px; /*For KHTML*/ /* 700 */
	list-style: none;
	height: 24px;
	z-index:5;
	}

ul#navmenu li {
	margin: 0 12px 0 0; /* 0 */
	border: 0 none;
	padding: 0;
	float: left; /*For Gecko*/
	display: inline;
	list-style: none;
	position: relative;
	height: 22px; /* 24 */
	z-index:5;
	}

ul#navmenu ul {
	margin: 0;
	border: 0 none;
	padding: 0;
	width: 160px; /* 160 */
	list-style: none;
	display: none;
	position: absolute;
	top: 22px; /* 24 */
	left: 0;
	}

ul#navmenu ul:after /*From IE 7 lack of compliance*/{
	clear: both;
	display: block;
	font: 1px/0px serif;
	content: ".";
	height: 0;
	visibility: hidden;
	}

ul#navmenu ul li {
	width: 200px; /* 160 */
	float: left; /*For IE 7 lack of compliance*/
	display: block !important;
	display: inline; /*For IE*/
	}

	ul#navmenu ul li a {
	width: 200px; /* 160 */
	float: left; /*For IE 7 lack of compliance*/
	display: block !important;
	display: inline; /*For IE*/
	font: /*bold*/ 11px/22px Verdana, Arial, Helvetica, sans-serif; /* 10px/22px */
	}

/* Root Menu */
ul#navmenu a {
	/* border: 1px solid #000; /* FFF */
	/*border-right: 1px solid;
	border-right-color: #000; /* CCC */
	/*border-bottom-color: #FFF; /* CCC */
	padding: 0 6px;
	float: none !important; /*For Opera*/
	float: left; /*For IE*/
	display: block;
	/*background: #FFF;*/ /* EEE - HOCEMO PROVIDNOST*/
	color: #FFF; /* 666 */
	font: /*bold*/ 14px/22px Verdana, Arial, Helvetica, sans-serif; /* 10px/22px */
	text-decoration: none;
	height: auto !important;
	height: 1%; /*For IE*/
	}

/* Root Menu Hover Persistence */
ul#navmenu a:hover,
ul#navmenu li:hover a,
ul#navmenu li.iehover a {
	background: #cd1531; /* #357DE3;  CCC */
	color: #FFF; /* FFF */
	}

/* 2nd Menu */
ul#navmenu li:hover li a,
ul#navmenu li.iehover li a {
	float: none;
	background: cd1531; /* #357DE3;  EEE */
	color: #FFF; /* 666 */
	          /*      border-bottom: 1px solid #555; /* FFF */

	}

/* 2nd Menu Hover Persistence */
ul#navmenu li:hover li a:hover,
ul#navmenu li:hover li:hover a,
ul#navmenu li.iehover li a:hover,
ul#navmenu li.iehover li.iehover a {
	background: #EEE; /* CCC */
	color: #000; /* FFF */
	}

/* 3rd Menu */
ul#navmenu li:hover li:hover li a,
ul#navmenu li.iehover li.iehover li a {
	background: #CCC; /* EEE */
	color: #666;
	                border-bottom: 1px solid #555; /* FFF */
	}

/* 3rd Menu Hover Persistence */
ul#navmenu li:hover li:hover li a:hover,
ul#navmenu li:hover li:hover li:hover a,
ul#navmenu li.iehover li.iehover li a:hover,
ul#navmenu li.iehover li.iehover li.iehover a {
	background: #CCC;
	color: #000; /* FFF */
	}

/* 4th Menu */
ul#navmenu li:hover li:hover li:hover li a,
ul#navmenu li.iehover li.iehover li.iehover li a {
	background: #CCC; /* EEE */
	color: #666;
	                border-bottom: 1px solid #555; /* FFF */
	}

/* 4th Menu Hover */
ul#navmenu li:hover li:hover li:hover li a:hover,
ul#navmenu li.iehover li.iehover li.iehover li a:hover {
	background: #CCC;
	color: #000; /* FFF */
}

ul#navmenu ul ul,
ul#navmenu ul ul ul {
	display: none;
	position: absolute;
	top: 0;
	left: 160px;
}

/* Do Not Move - Must Come Before display:block for Gecko */
ul#navmenu li:hover ul ul,
ul#navmenu li:hover ul ul ul,
ul#navmenu li.iehover ul ul,
ul#navmenu li.iehover ul ul ul {
	display: none;
}

ul#navmenu li:hover ul,
ul#navmenu ul li:hover ul,
ul#navmenu ul ul li:hover ul,
ul#navmenu li.iehover ul,
ul#navmenu ul li.iehover ul,
ul#navmenu ul ul li.iehover ul {
	display: block;
}


.faqsection {
	margin: 10px 0;
}

div.faq {
	margin: 10px 0 0 10px;
}

div.faq .question {
	color: #FFF;
	cursor:  pointer;
	padding-left: 10px;
	height: 25px;
	width: 670px;
	font: bold 12px/22px Verdana, Arial, Helvetica, sans-serif;
	background: url(images/raquo.gif) no-repeat left 0px;
}

div.faq .question.active {
	background-image: url(images/raquo-down.gif);
}

div.faq .answer  {
	margin-left: 10px;	
/*	display:none;*/
}

div.faq ul,
div.faq ol {
	margin: 0 0 10px 20px;
}












.faq2section {
	margin: 10px 0;
}

div.faq2 {
	margin: 10px 0 0 10px;
}

div.faq2 .question2 {
	color: #FFF;
	cursor:  pointer;
	padding-left: 10px;
	height: 25px;
	width: 670px;
	font: bold 12px/22px Verdana, Arial, Helvetica, sans-serif;
	background: url(images/raquo.gif) no-repeat left 0px;
}

div.faq2 .question2.active {
	background-image: url(images/raquo-down.gif);
}

div.faq2 .answer2  {
	margin-left: 10px;	
/*	display:none;*/
}

div.faq2 ul,
div.faq2 ol {
	margin: 0 0 10px 20px;
}











#connect, #connect{width:220px !important; margin-right:20px !important; padding-bottom: 115px; text-align: left;}
#connect a, #connect a{display:inline-block; height:16px}
#connect h3{margin:22px 0 8px 0}
#connect p{font-size:12px; color:#505050; line-height:1.2em; margin-bottom: 14px}
#connect a{font-size:13px; color:#005a84}
#connect a:hover{color:#ff8100}

#connect{width:200px !important}
#connect h3{margin-bottom:10px}
#connect a{margin:0; padding:0; display:inline-block; height:27px}
#connect p {font-size:11px; position:relative; padding:0; margin:0 0 0 -1px; height:41px}
#connect .color-image, #connect .grayscale-image {position:absolute; width:28px; height:29px; padding:0; top:-1px}
#connect .link{padding-left:37px; padding-bottom:12px}
#connect .support-text{position:relative; top:-13px; left:37px}
#connect a:hover .grayscale-image, #connect a.hover .grayscale-image {display:none}

/*.connect-with-us h3{margin:22px 0 10px 0}
.connect-with-us a{margin:0; padding:0; display:inline-block; height:27px; font-size:13px; color:#005a84}
.connect-with-us a:hover, .connect-with-us a.hover{color:#ff8100}
.connect-with-us p{font-size:11px; color:#505050; line-height:1.2em !important; position:relative; padding:0; margin:0 0 0 -1px; height:41px}
.connect-with-us .color-image, .connect-with-us .grayscale-image {position:absolute; width:28px; height:29px; padding:0 !important; top:-1px}
.connect-with-us .link{padding-left:37px; padding-bottom:12px}
.connect-with-us .support-text{position:relative; top:-13px; left:37px}
.connect-with-us a:hover .grayscale-image, .connect-with-us a.hover .grayscale-image {display:none}*/